
               /*barra de navegación*/
.navbar {
        padding: 2rem;  
           
        /*180º color gris gradiente*/
        background: rgb(52,72,83);
        background: linear-gradient(180deg, rgba(52,72,83,1) 2%, rgba(33,58,73,1) 5%, rgba(34,59,73,1) 11%, rgba(56,96,119,1) 16%, rgba(56,96,119,1) 29%, rgba(56,96,119,1) 50%, rgba(130,142,149,1) 59%, rgba(141,149,153,1) 74%, rgba(148,153,156,1) 88%, rgba(222,214,214,0.4703258012189251) 50%);
        border: 2px double grey;
        border-radius: 2px;
        transition: 2s;
        opacity: 75%;
        width: 100vw;
        height: 150px;
        margin-left:10px;
        margin-top:20px;
        margin-bottom:10px;
        
   
}
.navbar li a{
    color:white !important;
    margin-right: 15px;
}

.nav-link:hover{
    font-size: 25px ;
    
         
}


.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.logoWeb {
    width: 50px;
    height: 60px;
    transition: 1s;
}
.logoWeb:hover{
    padding: 10px;
    width: 73px;
    height:71px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Unbounded', cursive;
}
h1 a{
        text-decoration: none;
        color:white
}


            /*section hero*/
.hero{
    
    background-image: url(img/imagenDeFondo.jpg);
    background-repeat: no-repeat;
    background-size: 134%;
    opacity: 164%;
    min-height: 450px;
    width: 100%;
    text-align: center;
}
.hero-principal {
    padding: 3rem;
    color:rgb(255, 255, 255);
}


/*imagen de perfil*/
.hero-imagen-desarrolador {
    width: 109px;
    height: 205px;
    margin: 6px;
    border-radius: 3% !important;
    border: 1px solid black;
    transition: 2s;
}
img.perfil:hover{
        width: 157px;
        height: 297px;

}


.hero-principal h2{
    font-size: 1.5rem;
    color: #f0f0f0;
}
/*mi Historia_ sección fondo negro*/
.section-black{
    background-color: black;
    color: white;
}
.sectionTitle{
    font-size: 2rem;
    font-family: 'Unbounded', cursive;
   
}
.sectionParrafer{
    font-size: 1.1rem;
    
}
p.sectionParrafer:hover{
    color: #a3cc93;

}


section.miHistoria{
    width: 100%;
    height: 500px;
    padding: 500px;
    display: flex;
}
div.cont{

    width: 874px;
    max-height: 800px;
    justify-content: center;
    
}



/*secion experiencias                 


        seguir modificando

*/

section.misExp{
    width: 100%;
    height: 900px;
    display: grid;
    margin: 50px;
    text-align:center;
    font-family: 'Unbounded', cursive;   
    
}
.misExp div{
    overflow: hidden;
    
}

.experiencias{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    flex-wrap: wrap;
    

}
.experiencias div{
    width: 46%;
    height:  190px;
}
.misExp img{
    width: 272px;
    height: 191px;
    transition: 4s;
}



/*----------------------
----------------------cubo de imágenes background*/

.formación{
    width: 40%;
    height: 344px;
    margin: 8px;
    padding: 5px;
    flex-wrap: wrap;
 
}

 .formacionImg:hover{
    margin-top: -600px;

}
.fomacionAcademica{
    display: inline;
    width: 80%;
    padding: 10px;
}
.formacion p{
    width: 100%;
    font-size:20px ;

}
.formacion h3{
    width: 100%;
    margin-top:20px
}

.listaExpLab li{
    width: 100%;
    font-size: 10px;
    margin-top:5px;
    list-style:none;
}

.expLab{
    width: 40%;
    height: 300px;
    margin: 8px;
    padding: 5px;
 
}


.expImg:hover{
    margin-top: -500px;
}

.contenedorFram{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.framework{
    width: 40%;
    height: 300px;
    margin: 8px;
    padding: 5px;   
    justify-content: center; 
    margin-bottom: 20px;


}

.contenedorFram{
    width: 100%;
    height: 100%;
    display:flex;

}
.contenedorFram ul{
    width: 100%;
    height: 200px;
}



.framework li{
    list-style: none ;
    display: inline;
    
}
.framework h3{
    width: 100%;
   height: 300px;
}

.progress-prog{
    width: 75%;
    font-size: 10px;

}


.framework span{
    width:50px;
    display:block;
}

.framImg:hover{
    margin-top:-550px;

}




.expDesarrolador{
    width: 41%;
    height: 300px;
    margin: 8px;
    padding: 5px;
}

.desImg:hover{
    margin-top:-1000px;

}

.listDesarrolo{
    flex-direction: column;
    width: 100%;

}


.contenedorProgressBar{
    width: 100%;
}

.expDesarrolador li{
    list-style: none;
    width: 100%;
    height: 30px;
    margin: 20px;
    font-size: 25px;
    font-family: 'Unbounded', cursive;
    display: flex;  
    justify-content: center;  

}

.progress-bar{
    width: 90px;
    max-height: 25px;
    margin-top:10px;
    margin-left: 30px;
}



span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-right: 15px;
}
.progress{
    max-height: 20px;
    display: flex;
}

.contenedorProgressBar{
    width: 100%;
    display: inline-block;
    max-height: 200px;
    margin-top:10px;
    
    
}


.progress-bar{
    background-color:rgba(52,72,83,1);
    height: 100%;
    margin-top: -5px;
    margin-left: -6px;
}

.html_progress{
    width: 80% important! ;
}


/*-----------------------Nueva edicion del cubo img de paginas------------------------
*/






       /*PIE DE PAGINA*/ 
footer.pieDePagina{
    background: linear-gradient(180deg, rgb(80, 104, 117) 2%, 
    rgb(67, 103, 126) 5%, 
    rgb(60, 95, 116) 11%, 
    rgba(56,96,119,1) 16%, 
    rgba(56,96,119,1) 29%, 
    rgba(56,96,119,1) 50%, 
    rgba(130,142,149,1) 59%,
    rgba(141,149,153,1) 74%,
    rgba(148,153,156,1) 88%,
    rgba(222,214,214,0.4703258012189251) 50%);
    display: flex;
    width: 100vw;
    font-family: 'Unbounded', cursive;
    
}

/*color de pie de pagina gradiente 0º*/
.tituloPieDePagina{
    width: 100%;
    text-align: center;
}
.tituloPieDePagina h3{
    padding: 5px;
    text-align: start;
    margin: 25px;
}


footer ul{
    width: 100%;
    list-style: none;
    color:black;
    align-items: center;
}

footer li{

    margin: 20px;

}


footer a{
    margin:.8rem;
    padding: .6rem;
    text-decoration: none;
    color:black;
    font-weight:900;
    font-size: 21px;
    font-family: 'Unbounded', cursive;
   


}
.facebook:hover{
    background-color : blue;
    color:white;
    transition: background-color 2s;
}


.telegram:hover{
    background-color : #0d6efda3;
    color:white;
    transition: background-color 2s;
   
    
}


.wathsapp:hover{
    background-color: #509c33;
    color:white;
    transition: background-color 2s;
}

.instagram:hover{
    background-color : rgba(219, 96, 137, 0.918);
    color:white;
    transition: background-color 2s;
}


.gmail:hover{
    background-color :rgb(255, 51, 0);
    color:white;
    transition: background-color 2s;
}

.linkedin:hover{
    background-color : rgb(65, 65, 245);
    color:white;
    transition: background-color 2s;
}

.github:hover{
    background-color : rgb(10, 10, 24);
    color:white;
    transition: background-color 2s;
}















    /*logo responsibe*/
@media screen and (max-width: 768px){
  .navbar img{
    display:inline;
    background-color: none;
   
  }
}



@media screen and (max-width: 767px){
    .navbar{
        width: 111vh;
        transition: .5s;
        margin-left:9px;
    }
    .navbar ul{
        margin-right: 150px;
        background-color: grey;
        margin-top: -15px;
        width: 164px;
    }
    section.hero{
        width:112vh;
        
    }

    .navbar img{
        display: none;
    }
    footer.pieDePagina{
        width: 110vh;
    }


    @media screen and (max-width:670px){


    .navbar{
        width: 88vh;
        transition: .5s;
    }
    .navbar ul{
        margin-right: 150px;
        background-color: grey;
        margin-top: -15px;
        width: 164px;
    }
    .hero{
        width:88vh;
        
    }

    .navbar img{
        display: none;
    }
 .misExp img{
    width: 200px;
    height: 195px
 }

 @media screen and (max-width: 600px){
    .navbar{
        width: 112vh;
    }
        section.hero{
        width: 110vh;
        
    }
     
    
    h1{
        font-size: 1.5rem;
        
    }
    h2{
        font-size: .8rem;
    }
    
    img.hero-inferior-imagen{
    width: 500px;
    height: 300px;
    }
  
    section.misExp{
        width: 110vh;
    }

 footer.pieDePagina{
    width: 110vh;
 }

 }


@media screen and (max-width: 430px) {
    .navbar{
        width: 112vh;
    }
        section.hero{
        width: 110vh;
        
    }
     
    
    h1{
        font-size: 1.5rem;
        
    }
    h2{
        font-size: .8rem;
    }
    
    img.hero-inferior-imagen{
    width: 500px;
    height: 300px;
    }
  
    section.misExp{
        width: 110vh;
    }

 footer.pieDePagina{
    width: 110vh;
 }



}

    }
    
}
